body {
  height: 100%;
  width: 100%;
}

.calculator-body {
  /* positions the calculator in the middle of the page
  reference: https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.calculator-btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 8px;
  background-color: rgb( 99	107	98);
}

.calculator-display {
  height: 1.5em;
  width: 100%;
  font-size: 3.6em;
  text-align: right;
  background-color: rgb(48, 59, 46);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

button {
  font-size: 1.5em;
  height: 2em;
  width: 2.4em;
  border: none;
  color: white;
}

.dark {
  background-color: rgb(68	78	66	);
}

.numb {
  background-color:rgb( 99	107	98);
}

.operator {
  background-color: rgb(255	154	0);
}

.zero {
  border-bottom-left-radius: 8px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.equals {
  border-bottom-right-radius: 8px;
}
