body {
  height: 100%;
  width: 100%;
}

.calculator-body {
  /* positions the calculator in the middle of the page
  reference: https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculator-btns {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.calculator-display {
  height: 4em;
  width: 100%;
  font-size: 1em;
  text-align: right;
}

button {
  font-size: 1em;
  height: 4em;
  width: 6em;
}
